{% extends 'dashboard/index.html.twig' %}

{% block main %}

    {{ include('activite/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('activites') }}">Retourner à la liste des activités</a>
{% endblock %}
