{% extends 'dashboard/index.html.twig' %}

{% block main %}

    {{ include('voyage/_form.html.twig') }}

    <br>
    <a class="btn btn-primary" href="{{ path('voyages') }}">Retourner à la liste des voyages</a>
{% endblock %}
