{% extends 'dashboard/index.html.twig' %}


{% block main %}

    {{ include('user/_form.html.twig', {'button_label': 'Modifier'}) }}
    <br>
    {{ include('user/_delete_form.html.twig') }}
    <br>
    <a class="btn btn-primary" href="{{ path('users') }}">Retourner à la liste des utilisateurs</a>

{% endblock %}
